<div class="wapper">
  <%= render "shared/hedder"%>

  <div class="row">
    <div class="wrap">  
      <div class="form_title">
        SignUp
      </div>
    </div>
    <div class="col s12">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <div class="row">
          <div class="input-field col s6">
            <%= f.label :name %> <br />
            <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "validate", id: "first_name", placeholder: "名前を入力してください" %>
          </div>
        </div>
      
        <div class="row">
          <div class="input-field col s12">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "validate", id: "email", placeholder: "メールアドレスを入力してください" %>
          </div>
        </div>
        <div class="row">  
          <div class="input-field col s12">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "off", class: "validate", placeholder: "パスワードを入力して！(#{@minimum_password_length ? @minimum_password_length : 0}文字以上)"  %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "validate", placeholder: "パスワード確認"%>
          </div>
        </div>
          <div class="actions">
            <%= f.submit "登録！", class: "waves-effect waves-light btn" %>
          </div>
        <% end %>
    </div>
      
  </div>
