<div class="wapper">
  <%= render "shared/hedder"%>
  
  <div class="row">
    <div class="wrap">  
      <div class="form_title">
        SignIn
      </div>
    </div>
    <div class="col s12">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="row">
          <div class="input-field col s12">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "validate", id: "email", placeholder: "メールアドレスを入力してください" %>
          </div>
        </div>

        <div class="row">  
          <div class="input-field col s12">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "off", class: "validate", placeholder: "パスワードを入力して！(#{@minimum_password_length ? @minimum_password_length : 0}文字以上)"  %>
          </div>
        </div>

        <% if devise_mapping.rememberable? -%>
          <p>
            <label>
              <%= f.check_box :remember_me %>
              <span>remember_me</span>
            </label>
          <p>
        <% end -%>

        <div class="actions">
          <%= f.submit "LogIn", class: "waves-effect waves-light btn" %>
        </div>
        <div class="actions waves-effect waves-light btn">
          <%= link_to "SignUp", new_user_registration_path%>
        </div>
      <% end %>

